    {% extends 'base.html' %}   

    {% load static %}


    {% block content %}

        <section class="text-center bg-light">
            <div class="container pt-4 mb-3">
                <a href="#charts"><button type="button" class="btn btn-info"><img class="img-fluid" width='40' src="{% static 'charts/img/pie-chart-icon.png' %}"> Pie Chart</button></a>
                <a href="#barChart"><button type="button" class="btn btn-info"><img class="img-fluid" width='40' src="{% static 'charts/img/bar-chart-icon.png' %}"> Bar Chart</button></a>
                <p class="text-muted mt-1 p-0">This page is not responsive</p>
            
            </div>
            <hr class="m-0">
        </section>
        
        <div class="album py-5 bg-light" id="charts">
            <div class="container">

                <div id="pieChart" style="margin: 0 auto; width: 90%; min-height:350px;"></div>

                <script> 
                let chartData = []
                </script>
                {% for data in pieChartData %}
                <script>
                    var current ={
                        "cryptocurrency_name": "{{data.cryptocurrency_name}}",
                        "cryptocurrency_value": "{{data.cryptocurrency_value}}"
                    }
                    chartData.push(current)

                </script>
                {% endfor %}
                    <div class="col-md-4 ml-auto mr-auto" style="width: 350px">
                        <div class="card mb-4 pb-4 shadow-sm">

                            <div class="container">
                                <p class="text-center text-muted mt-4">Feel Free to Add Cryptocurrency</p>
                                {% load crispy_forms_tags %}
                                <form method="POST" action="#charts">
                                    {% csrf_token %}
                                    
                                    {{ form|crispy }}
                                    <button type="submit" class="ml-4 btn btn-primary">Add</button>
                                    <a href="#barChart"><button type="button" class="ml-5 btn btn-info"><img class="img-fluid" width='20' src="{% static 'charts/img/bar-chart-icon.png' %}"> Bar Chart</button></a>

                                
                                </form>
                        
                            </div>
                        </div> 
                    </div>
                    

                <div class="row">
                    
                    {% for data in pieChartData %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <p class="card-text">{{ data.cryptocurrency_name }}: {{ data.cryptocurrency_value }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>      

            </div>
        </div>
        <style>
            .btn-on-bar-to-pie{
                float: right
            }
            
        </style>

        
        <div id="barChartContainer" style="background: #1A1C54; height: 100vh">
            <div class="container">
                <div id="barChart" style="width:100%; height: 470px"></div>
                <div class="footer-copyright text-center text-light py-3 mt-5">
                        © 2019 Copyright Guka Nozadze
                </div>
                
            </div>
            <div class="text-center">
                <a href="#charts"><button type="button" class="btn btn-info btn-on-bar-to-pie"><img class="img-fluid up" width='40' src="{% static 'charts/img/up-arrow.png' %}"></button></a>
            </div>
                
        </div>
        <script type="text/javascript" src="{% static 'charts/js/echarts.js' %}"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    
        <script type="text/javascript" src="{% static 'charts/js/barChart.js' %}"></script>
        <script type="text/javascript" src="{% static 'charts/js/pieChart.js' %}"></script>
   {% endblock %}
   