/* Holder*/

.outer-dashboard{
    width: 100%;
}

.inner-dashboard{
    width: 95%
}

.holder{
    margin: 30px;
    margin-bottom: 50px;
    width: 100%;
    margin-right: 0px;
}

.holder p{
    margin-bottom: 0px;
}
.holder ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    text-align: center;
}

.holder ul li img{
    display: block;
    margin: 0 auto;
    list-style: none;
}

.main-dashboard-hr{
    height: 3px;
    border:none;
    background-color:rgb(238, 238, 238);
}

.holder-hr{
    height: 2px;
    border:none;
    background-color:#A8A8A8;
}

@media screen and (max-width: 990px){
  
    .holder ul{
        width: 100%;
        display: flex;
        justify-content: left;
        overflow: auto;
    }

    .holder ul li{

        padding: 0px 15px;
        padding-left: 0;
    }

}

@media screen and (max-width: 990px){
  
    .outer-dashboard{
        width: 80%;
    }

}

@media screen and (max-width: 780px){
  
    .outer-dashboard{
        width: 75%;
    }

}


@media screen and (max-width: 620px){
  
    .outer-dashboard{
        width: 70%;
    }

}


@media screen and (max-width: 500px){
  
    .outer-dashboard{
        width: 65%;
    }

}