body{
    background: rgb(238, 238, 238);
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* header navigation*/
nav{
    line-height: 75px;
    background: white;
    box-shadow: 0 2px 10px -2px rgba(0,0,0,.5);
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Left Dashboard*/
.dashboard-navigation{

    margin-top: 20px;
    max-width: 180px;
    min-width: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dashboard-navigation ul{
    padding: 0;
    padding-top:20px;
    text-align: center;
}

.dashboard-navigation ul li{
    list-style: none;
    margin-bottom:20px;
    font-weight: bold;
    font-size:12px;
    overflow: hidden;
}


.dashboard-navigation-text img{
    display: block;
    padding: 0;
    margin: 0 auto;
    max-height: 40px;
}


.main-contents{

    display: flex;
    max-width: 100%;
    min-width: 80px;
    margin: 0px 25px;
}

/* Main Dashboard Categories (Top Section)*/
.main-dashboard{
    width: 100%;
    background: white;
    padding-bottom: 30px;
}

.master-span{
    color: rgba(0,0,0,.6);
    font-size: 26px;
    letter-spacing: 2px;
    position: relative;
    display: block;
    font-weight: bold;  
}

.main-dashboard-categories{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgba(0,0,0,.7)
}

.main-dashboard-hr{
    height: 2px;
    border:none;
    background-color:rgb(238, 238, 238);
}

/* Main dashboard (Main Section)*/
.inner-dashboard{
    padding: 15px 50px;
}

input[name='city-name']{
    border: 1px solid rgba(0,0,0,.25);
    padding: 9px; 
    width: 30%;
    max-width: 250px;
}

button.city-button{

    border: none;
    color: white;
    width: 30%;
    max-width: 250px;
    background-color: #F05328;
    padding: 9px 5px;
    font-size: 17px;
    letter-spacing: 0.8px;
    margin-left: 15px;
}

.selected-cities{
    padding-left: 50px;
    padding-right: 15px;
}

.selected-cities button{
    font-size: 16px;
    border:none;
    border-radius: 15px;
    padding: 2px 15px;
    background: #BDBDBD;
    color:white;
    margin-bottom: 25px;
    margin-right: 10px;
}

.selected-cities button i{
    margin-left: 10px;
}

@media screen and (max-width: 990px){
    input[name='city-name']{
        border: 1px solid rgba(0,0,0,.25);
        padding: 9px;
        width: 100%; 
    }
    
    button.city-button{
        width: 100%;
        display: block;
        margin-left: 0px;
        margin-top: 15px;
    }
    

    /* Left Dashboard*/

    .dashboard-navigation ul li{
        font-size:11px;
    }


    .dashboard-navigation-text img{
        max-height: 25px;
    }
}

@media screen and (max-width: 555px){

    /* Left Dashboard*/

    .dashboard-navigation ul li{
        font-size:11px;
    }

    .dashboard-navigation-text img{
        max-height: 20px;
    }

    .main-dashboard-categories{
        font-size: 11px;
        padding: 0; 
    }

    .selected-cities{
        text-align: center;
        padding-left: 25px;
        padding-right: 15px;
    }

    .inner-dashboard{
        padding-left: 25px;
        padding-right: 15px;
    }
}


p{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: bold;
    margin: 30px 0px;
    color: #19191B
}

.active{
    color: #F05328;
}


/* ADMIN LOGIN */
img.top-left{
    position: absolute;
    top: 0;
    left: 0;
}

img.bottom-left{
    position: absolute;
    bottom: 0;
    left: 0;
}

img.top-right{
    position: absolute;
    top: 0;
    right: 0;
}

img.logo{
    position: absolute;
    top: 40%;
    left: 25%;
}
.form-box{
    padding: 0px 100px;
    position: absolute;
    right: 10%;
    top: 30%;
    text-align: center;
    width: 600px;
    height: 300px;
    border-left: 3px solid #E1DDDD;
}

input[name='emailOrNumber']{
    padding: 9px;
    margin-bottom: 20px;
}

input[name='password'], input[name='emailOrNumber']{
    width: 100%;
    padding: 9px;
}

button.sign-in{

    border: none;
    color: white;
    width: 100%;
    background-color: #F05328;
    padding: 15px 5px;
    font-size: 19px;
    letter-spacing: 0.8px;
    font-weight: bold;
}

@media screen and (max-width: 1280px){
    img.logo{
        display: none
    }

    .form-box{
        position: relative;
        right: 0;
        top: 0;
        margin: 0 auto;
        padding: 0px 0px;
        text-align: center;
        width: 60%;
        height: 300px;
        border-left: none;
    }
}


