<!DOCTYPE html>
<html lang="en">
<head>
        {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'css/mainUpWork.css' %}">
    <link rel="stylesheet" href="{% static 'css/addsport.css' %}">

</head>
<body>
    <nav >
        <div class="logo text-left ml-5" style="float:left">
            <img src="{% static 'img/logo.png' %}"  width="65px">
        </div>
        <div class="nav-right text-right mr-4">
            <img src="{% static 'img/default.jpg' %}" class="rounded-circle align-middle mr-3" width="50px">
            <i class="fas fa-angle-down fa-2x align-middle" ></i>
        </div>
    </nav>

        <div class="main-contents">
            <div class="dashboard-navigation">
                <ul class="align-middle">
                    <li><span class="dashboard-navigation-text"><a href="{% url 'dashboard' %}"><img src="{% static 'img/speedometr.png' %}"> Dashboard</span></a></li>
                    <li><span class="dashboard-navigation-text"><a href="{% url 'addcity' %}"><img src="{% static 'img/crown.png' %}">Master</span></a></li>
                </ul>
            </div>
            
            <div class="ml-4 mr-5">
                <span class="master-span mt-5">MASTER</span>

                <div class="main-dashboard mt-3">
                    <div class="main-dashboard-categories row text-center pt-3 ml-0 mr-0">
                        <div class="col-3"><a href="{% url 'addcity' %}">Add City</a></div>
                        <div class="col-3"><a href="{% url 'addcategory' %}">Add Category</a></div>
                        <div class="col-3"><a href="{% url 'addsport' %}" class="active">Add Sport</a></div>
                        <div class="col-3"><a href="{% url 'viewall' %}">View All</a></div>
                    </div><hr class="main-dashboard-hr">

                    <div class="inner-dashboard">
                        <p>Add Sport</p>
                        <div class="inputs-buttons">
                            <input type="text" name="sport-name" placeholder="Sport Name">
                            <select name="category" aria-placeholder="" form="carform">
                                <option value="">Select Category</option>
                                <option value="soccer">Soccer</option>
                                <option value="tenis">Tenis</option>
                                <option value="basketball">Basketball</option>
                            </select>

                            <button type="file" class="file-button">Browse Icon</button>
                            <button type="button" class="add-button">Add New Sport</button>
                        </div>
                    </div>

                    <div class="selected-cities mt-4">
                        <button type="button">New Jersey <i class="fas fa-times"></i></button>
                        <button type="button">New Jersey <i class="fas fa-times"></i></button>
                        <button type="button">New Jersey <i class="fas fa-times"></i></button>
                        <button type="button">New Jersey <i class="fas fa-times"></i></button>
                        <button type="button">New Jersey <i class="fas fa-times"></i></button>
                        <button type="button">New Jersey <i class="fas fa-times"></i></button>
                        <button type="button">New Jersey <i class="fas fa-times"></i></button>
                        <button type="button">New Jersey <i class="fas fa-times"></i></button>
                        <button type="button">New Jersey <i class="fas fa-times"></i></button>
                        <button type="button">New Jersey <i class="fas fa-times"></i></button>
                        <button type="button">New Jersey <i class="fas fa-times"></i></button>
                        <button type="button">New Jersey <i class="fas fa-times"></i></button>
                        <button type="button">New Jersey <i class="fas fa-times"></i></button>
                        <button type="button">New Jersey <i class="fas fa-times"></i></button>
                        <button type="button">New Jersey <i class="fas fa-times"></i></button>
                        <button type="button">New Jersey <i class="fas fa-times"></i></button>
                        <button type="button">New Jersey <i class="fas fa-times"></i></button>
                        <button type="button">New Jersey <i class="fas fa-times"></i></button>
                        <button type="button">New Jersey <i class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>