{% extends 'base.html' %}

{% block content %}

    <div class="project container mt-5" redirect="{% url 'charts' %}">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Dynamic Charts</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Bar Chart · Interactive Pie Chart</h6>
                    <a href="#" class="card-link">Go</a>
                </div>
            </div>

            <div class="card mt-4" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Webpage For Restaurant</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Modern Design</h6>
                    <a href="{% url 'food-page' %}" class="card-link">Go</a>
                </div>
            </div>
    </div>


{% endblock %}