<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" type="image/png" href="{% static 'mysite/img/favicon.png' %}">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">

    <link rel="stylesheet" href="{% static 'mysite/css/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static 'mysite/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/footer.css' %}">

    <title>Guka Nozadze</title>
</head>
<body>
    <header class="header">
        <div class="header__logo-box">
            <img src="{% static 'mysite/img/favicon-white.png' %}" alt="logo" class="header__logo">
        </div>

        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">Guka Nozadze</span>
                <span class="heading-primary--sub">Full-Stack Web Developer</span>
            </h1>

            <a href="#section-stories" class="btn btn--white btn--animated">Discover Me</a>
        </div>
    </header>

    <main>
        <div class="section-stories" id="section-stories">
            <div class="bg-video">
                <video class="bg-video__content" autoplay muted loop>
                    <source src="{% static 'mysite/img/video.mp4' %}" type="video/mp4">
                    <source src="{% static 'mysite/img/video.webm' %}" type="video/webm">
                    Browser not supported
                </video>
            </div>

            <div class="u-center-text">
                <h2 class="heading-secondary u-mb-8">About Me</h2>
            </div>

            <div class="row">
                <div class="story">
                    <figure class="story__shape">
                        <img class="story__image" src="{% static 'mysite/img/profile.png' %}">

                        <figcaption class="story__caption">
                            Guka Nozadze
                        </figcaption>
                    </figure>
                    <div class="story__text">
                        <h3 class="heading-tertiary">I'm self-taught Developer</h3>

                        <p>
                            My name is Guka Nozadze and currently I am self employed as a full stack web developer.  
                            For the past several months I have been working as a freelancer at Upwork. 
                            I have a diverse set of skills ranging from design to coding (for further information please continue scrolling my front page)
                            <!-- for business purposes please reach me out at: gukanozadze@gmail.com</p> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="section-about">
            <div class="u-center-text u-mb-8">
                <h2 class="heading-secondary">
                    About my projects
                </h2>
            </div>

            <div class="row">

                <div class="col-1-of-2">
                    <h3 class="heading-tertiary u-mb-1">Main page</h3>
                    <p class="paragraph">This page is written in HTML, CSS(SASS) and JavaScript (Jquery only for scrool animation). I'm using SASS because it has more posibilities than just CSS. </p>
                    
                    <h3 class="heading-tertiary u-mb-1">Other pages</h3>
                    <p class="paragraph">For charts page I'm using Echarts liblary to create dynamic charts and Django to upload data on database. No JavaScript is used on restaurant page. </p>
                    
                    <a href="#section-skills" class="button-text">Learn More &rarr;</a>
                </div>

                <div class="col-1-of-2">
                    <div class="composition">
                        <img src="https://i.gyazo.com/88fdb5a51dd4197aee2e1c2ae61d928e.jpg" alt="Photo 1" class="composition__photo composition__photo--p1">
                        <img src="https://i.gyazo.com/30d8b942e930ad60de3df1c2f08c9e71.png" alt="Photo 2" class="composition__photo composition__photo--p2">
                        <img src="https://i.gyazo.com/9fef8dea3ae4a5dc81bc0653574c5319.png" alt="Photo 3" class="composition__photo composition__photo--p3">
                    </div>
                </div>
            </div>
            
        </div>

        <div class="section-skills">
            <div class="row">
                    <div class="u-center-text u-mb-4 u-pt-20"  id="section-skills">
                        <h2 class="heading-secondary heading-secondary--skills">
                            My Skills
                        </h2>
                    </div>
                <div class="col-1-of-4 skill">
            
                    <i class="icofont-code-alt"></i>
                    <h3>HTML, CSS (SASS)</h3>
                    <p class="paragraph">
                        I've been learing html and css for 3 years. 
                        I have experience with bootstrap, SemanticUI and recently got comfortable with SASS
                    </p>
                
                </div>

                <div class="col-1-of-4 skill">
                    <i class="icofont-file-javascript"></i>
                    <h3>JavaScript</h3>
                    <p class="paragraph">ES6+, Jquery, Ajax, ReactJS, basic knowledge of NPM. I've Used Google's Geocoding API and couple of JS libraries.</p>
                
                </div>

                <div class="col-1-of-4 skill">
                    <i class="icofont-file-python"></i>
                    <h3>Python, Django</h3>
                    <p class="paragraph">Python's powerfull framework Django let's me create mini-social network with login/register system and complex databases.  </p>
                </div>

                <div class="col-1-of-4 skill">
                        <i class="icofont-infinite"></i>
                    <h3>More</h3>
                    <p class="paragraph">My additional skills include Git, Google Firebase, Adobe Photoshop, Adobe XD and Basic Android App Development </p>
                </div>
            </div>
            
        </div>

        <div class="section-projects">
            <div class="u-center-text u-mt-4">
                <h2 class="heading-secondary u-mb-8"  id="section-projects">My Projects</h2>
            </div>


            <div class="row">
                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--1 card__side--front">
                            <div class="card__image card__image--1">
                            </div>

                            <div class="card__description card__description--1">
                                <h4>Pixel Perfect Landing Page</h4>
                                <h4>Responsive for all devices</h4>
                                <h4>HTML5, CSS3, JavaScript</h4>
                            </div>
                            <div class="card__name card__name--1">
                                    Restaurant Page
                                </div>
                        </div>
                        

                        <div class="card__side card__side--back card__side--back-1">
                            <a href="{% url 'food-page' %}" target="_blank" class="btn btn--white">Open</a>
                        </div>
                    </div>
                </div>
                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--2 card__side--front">

                            <div class="card__image card__image--2">
                            </div>
                    
                            <div class="card__description card__description--2">
                                <h4>Used EchartsJS Library</h4>
                                <h4>Bar Chart is Made For Upwork Client</h4>
                                <h4>HTML5, CSS3, JavaScript, Django</h4>
                            </div>

                            <div class="card__name card__name--2">
                                Dynamic Charts
                            </div>

                        </div>
                    
                        
                        <div class="card__side card__side--back card__side--back-2">
                                <a href="{% url 'charts-page' %}" target="_blank" class="btn btn--white">Open</a>
                        </div>
                        
                    </div>
                </div>
                <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--3 card__side--front">
                    
                            <div class="card__image card__image--3">
                            </div>
                    
                            <div class="card__description card__description--3">
                                <h4>Active Since March</h4>

                                <h4>Completed 14 Jobs</h4>
                                <h4>Earned $600+</h4>
                                <h4>100% Job  Success Rate</h4>
                            </div>
                    
                            <div class="card__name card__name--3">
                                UpWork Profile
                            </div>
                    
                        </div>

                    
                    
                        <div class="card__side card__side--back card__side--back-3">
                            <a href="https://www.upwork.com/freelancers/~0166e1cfbe516903b1" target="_blank" class="btn btn--white">Open Profile</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        
    </main>



    {% include 'footer.html' %}

        <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="{% static 'portfolio/js/footer.js' %}"></script>
        <script type="text/javascript" src="{% static 'portfolio/js/main.js' %}"></script>
    </body>
</html>