/* Colors */
/* GRID */
/* FONT */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  /*font-size: 1.6rem;*/
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
  padding-bottom: 0rem;
  color: #777;
  position: relative;
  overflow-x: hidden; }

/* ANIMATIONS */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.heading-primary {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden;
  /* Disables shake when animating */ }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out;
    /*
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out  
        animation-iteration-count: 3;
        animation-delay: 3s;
        */ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.71rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  display: inline-block;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(-4deg) skewX(-10deg) scale(1.1);
    text-shadow: 0.5rem, 1rem, 10rem rgba(0, 0, 0, 0.8); }
  .heading-secondary--skills {
    background-image: linear-gradient(to right bottom, #fff, #f4f4f4); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

p.paragraph {
  font-size: 1.6rem; }
  p.paragraph:not(:last-child) {
    margin-bottom: 3.5rem; }

.u-center-text {
  text-align: center; }

.u-mb-8 {
  margin-bottom: 8rem; }

.u-mb-4 {
  margin-bottom: 4rem; }

.u-mb-2 {
  margin-bottom: 2rem; }

.u-mb-1 {
  margin-bottom: 1rem; }

.u-mt-8 {
  margin-top: 8rem; }

.u-mt-4 {
  margin-top: 4rem; }

.u-mt-2 {
  margin-top: 2rem; }

.u-pt-4 {
  padding-top: 4rem; }

.u-pt-20 {
  padding-top: 20rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  filter: opacity(0.2);
  z-index: -22; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

/* BTN */
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.3) scaleY(1.45);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .3s; }

.btn--animated {
  animation: moveInBottom .6s ease-out .25s;
  animation-fill-mode: backwards; }

.button-text:link, .button-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px 6px;
  font-size: 1.6rem;
  transition: all .3s; }

.button-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-2px); }

.button-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transform: translateY(-1px); }

.composition {
  position: relative;
  transition: transform .2s ease; }
  .composition__photo {
    width: 55%;
    border-radius: 5px;
    box-shadow: 0px 1.2rem 4rem rgba(0, 0, 0, 0.7);
    position: absolute;
    transition: all .25s ease;
    outline-offset: 1.5rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      z-index: 2;
      transform: scale(1.1) translateY(-1rem);
      box-shadow: 0px 2.5rem 4rem rgba(0, 0, 0, 0.8);
      outline: 1.4rem solid #55c57a; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  font-size: 3rem;
  position: relative;
  height: 50rem; }
  .card__side {
    background-color: orangered;
    color: #fff;
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0px 0px 3rem rgba(0, 0, 0, 0.4);
    border-radius: 5px; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg);
      text-align: center; }
      .card__side--back .btn {
        position: relative;
        display: inline-block;
        margin: 0 auto;
        top: 40%; }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
        .card__side--back-1 .btn {
          color: #55c57a; }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #ffa726, #ef6c00); }
        .card__side--back-2 .btn {
          color: #FB8C00; }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
        .card__side--back-3 .btn {
          color: #0d74d4; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__image {
    height: 22rem;
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    background-blend-mode: screen; }
    .card__image--1 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/foodpage.jpg"); }
    .card__image--2 {
      background-image: linear-gradient(to right bottom, rgba(255, 167, 38, 0.8), rgba(239, 108, 0, 0.8)), url("../img/barchart.png"); }
    .card__image--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/upwork-profile.png"); }
  .card__description {
    text-align: center;
    margin-top: 2rem; }
    .card__description h4 {
      color: #818181;
      font-size: 1.6rem;
      width: 70%;
      margin: 0 auto;
      padding: 1rem 0rem; }
      .card__description h4:not(:last-child) {
        border-bottom: 2px solid #e9e9e9; }
  .card__name {
    font-size: 2.8rem;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: .6rem 1rem;
    position: absolute;
    right: 0;
    top: 14rem; }
    .card__name--1 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.9), rgba(40, 180, 133, 0.9)); }
    .card__name--2 {
      background-image: linear-gradient(to right bottom, rgba(255, 167, 38, 0.9), rgba(239, 108, 0, 0.9)); }
    .card__name--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.9), rgba(86, 67, 250, 0.9)); }

.skill {
  background: white;
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 2rem 2rem;
  transition: all .4s ease; }
  .skill i {
    font-size: 6rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    padding: 2rem 0;
    display: inline-block; }
  .skill h3 {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem; }
  .skill:hover {
    transform: translateY(-1rem);
    box-shadow: 0px 0.3rem 2.2rem rgba(0, 0, 0, 0.5); }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
  position: relative; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg); }
  .story__image {
    height: 100%;
    transform: translateX(-0.7rem) scale(1.2);
    transition: all .4s ease;
    backface-visibility: hidden; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    backface-visibility: hidden;
    transition: all .8s;
    opacity: 0; }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }
  .story:hover .story__image {
    transform: translateX(-0.7rem) scale(1);
    filter: blur(2px) brightness(80%); }

/* *********************************/
/* HEADER***************************/
/* *********************************/
.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/laptop-hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0 100%);
  z-index: 1; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 4rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 60px; }
  .row .col-1-of-2 {
    width: calc((100% - 60px) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 60px) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 60px) / 3) + 60px); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 60px) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * (100% - 3 * 60px) / 4 + 60px); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 60px) / 4) + 2*60px); }

.section-about {
  background-color: #f4f4f4;
  padding: 35rem 0;
  margin-top: -25vh; }

.section-skills {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  background-size: cover;
  padding: 0rem 0 25rem 0;
  margin-top: -10rem;
  transform: skewY(-6deg); }
  .section-skills > * {
    transform: skewY(6deg); }

.section-projects {
  background-color: #f4f4f4;
  padding: 30rem 0 20rem 0;
  margin-top: -20vh; }

.section-stories {
  position: relative;
  padding: 25rem 0;
  padding-bottom: 45rem;
  margin-top: -20vh;
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
  background-color: #f4f4f4; }
