/* ****************************************************/
/* FOOTER ***************************************/
/* ****************************************************/
footer{
    padding: 40px 0px;
    padding-bottom: 80px;

    background: #272727
}

footer ul{
    font-size: 16px;

    list-style: none;
}

footer ul li{
    display: inline-block;
    margin-right:20px;

}
footer ul li:last-of-type{
    margin-right:0px;

}

footer ul li a{
    text-decoration: none;
    color: #e67d22
}
.social-links-box{
    text-align: right
}

.social-links li ion-icon{
    font-size: 25px;
}

.social-links li img{
    height: 25px;

}
footer p{
    margin-top: 40px;
    color: #e67d22;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
}


.bg-modal{
    width: 100%;
    height: 130vh;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 1000;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-modal__content{
    height: 400px;
    width: 600px;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-modal__content--close ion-icon{
    font-size: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.bg-modal__content .contact-info{

    font-size: 25px
}

.bg-modal__content .contact-info ion-icon{
    margin-right: 15px;
}

#footer-contact{
    cursor: pointer;
    color: #e67d22
}