.section-about{
    background-color: $color-grey-light-1;
    padding: 35rem 0;
    margin-top: -25vh;
}


.section-skills{

    background-image: linear-gradient(to right bottom, rgba($color: $color-primary-light, $alpha: .8), rgba($color: $color-primary-dark, $alpha: .8));
    background-size: cover;
    padding: 0rem 0 25rem 0;
    margin-top: -10rem;

    transform: skewY(-6deg);

    & > * {
        transform: skewY(6deg);
    }
}


.section-projects{
    background-color: $color-grey-light-1;
    padding: 30rem 0 20rem 0;
    margin-top: -20vh;
}

.section-stories{
    position: relative;
    padding: 25rem 0;
    padding-bottom: 45rem;
    margin-top: -20vh;
    clip-path: polygon(0 0,100% 0%, 100% 80%, 0 100%);

    background-color: $color-grey-light-1;


}